
@{
    ViewBag.Title = "RegisterStudent";
}

<h2>RegisterStudent</h2>

@Html.Label(" Register A Student")
<br />

<td>@Html.LabelFor(a => a.UserName)</td>
<td>@Html.TextBoxFor(a => a.UserName)</td>
@Html.LabelFor(a=>a.)
<br />
 

